html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}
/* --- That is a css reset --- */
body {
	background-color: #2e2e2e;
	color: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	background-color: #3e3e3e;
	margin: 50px auto;
	padding-bottom: 25px;
	border: 1px solid black;
	border-radius: 10px;
	width: 60%;
	text-align: center;
	min-height: 400px;
}

h1 {
	margin: 25px;
	font-size: 35px;
	text-decoration: underline;
}

input,
button {
	font-size: 18px;
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid black;
}

li {
	font-size: 20px;
	font-weight: 100;
	margin-left: 60px;
	text-align: left;
	list-style: circle;
}

button {
	cursor: pointer;
}

input {
	background-color: #2e2e2e;
	color: white;
}
